body {
    margin: 0;
}

svg {
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
}

.links {
    stroke: black;
    stroke-width: 1px;
    marker-end: url(#arrow);
}

.nodes {
    g rect {
        fill: grey;
    }

    g text {
        display: none;
    }

    g:hover text {
        display: initial;
    }

    g.active rect {
        fill: red;
    }
}
